.nav{
  height: 5rem;
  background-color: teal;
  position: sticky;
  top: 0;
  width: 100%
}
.logo{
  color: wheat;
}
.item{
  justify-content: space-around;
  display: flex;
  margin-top: 1rem;
}
.butt{
  display: flex;
  justify-content: space-around;
}
.megin{
  margin-top: 3rem;
  align-items: center;
  text-align: center;
}
.megon{
  align-items: center;
  text-align: center;
}
.white{
  color: wheat;
}
.form{
  width: 60rem;
 margin: 0 14rem 3rem 14rem;

}
.jfl{
  display: flex;
  justify-content: space-around;
}
